<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>
  <body>
    <h1>テスト WORK！！！！</h1>
    <% require 'pg' %>

    <% connection = PG::connect(dbname: "goya") %>
    <% connection.internal_encoding = "UTF-8" %>

    <% result = connection.exec("select * from crops where give_for != '自家消費';") %>
    <% non_give = [] %>

    <% result.each do |record| %>
      <%  non_give << "ゴーヤの大きさ：#{record["weight"]}　ゴーヤの重さ：#{record["weight"]} 品質：#{record["quality"]}" %>
    <% end %>
    
    <form action="non_give.cgi" method="POST">
       譲渡先が自家消費ではないもののgoyaの情報を載せたページが表示される<br><br>
      <input type="text" name="non_give" value="<%= non_give.join(' ')%>" >
      <input type="submit" name="送信" >
    </form>
    
    <% bad_result = connection.exec("select * from crops where quality = 'false';") %>
    <% bad_qlt = [] %>
    
    <% bad_result.each do |record| %>
      <%  bad_qlt << "ゴーヤの大きさ：#{record["weight"]}　ゴーヤの重さ：#{record["weight"]} 品質：#{record["quality"]}" %>
    <% end %>
  
    <form action="bad_qlt.cgi" method="POST">
      品質が悪いもの（false）のgoyaの情報を載せたページが表示される<br><br>
      <input type="text" name="bad_qlt" value="<%= bad_qlt.join(' ')%>" >
      <input type="submit" name="送信" >
    </form>
    
  </body>
</html>